*{
    margin: 0;
    padding: 0;
    
}

.aboutUs{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    padding: 50px 0px;
    margin-top: 100px;      
}
.greeting{
    padding: 5px;
    font-size: 4em;
    font-family: Arial, Helvetica, sans-serif;

}

.slogan{
    margin-top: 10px;
    padding: 3px;
    color:gray;
    font-size: 1.2em;
    text-shadow: 3px 1px 2px rgba(156, 155, 155, 0.1);
}